/BackupAutomaticoCervantes/packages
/BackupAutomaticoCervantes/BackupAutomaticoCervantes/bin
/BackupAutomaticoCervantes/BackupAutomaticoCervantes/obj
/BackupAutomaticoCervantes/BackupAutomaticoCervantes/Properties
