/BackupAutomaticoCervantes/packages
/BackupAutomaticoCervantes/BackupAutomaticoCervantes/bin
/BackupAutomaticoCervantes/BackupAutomaticoCervantes/obj
/BackupAutomaticoCervantes/BackupAutomaticoCervantes/Properties
/BackupAutomaticoCervantes/.vs
/BackupAutomaticoCervantes/.vs/*.*
*.db
*.json
*.exe
/BackupAutomaticoCervantes/BackupAutomaticoCervantes/bin/*.*
/BackupAutomaticoCervantes/BackupAutomaticoCervantes/obj
