<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <!-- Conexão com PostgreSQL -->
    <add name="PostgresConnection"
         connectionString="Host=127.0.0.1;Port=5432;Username=postgres;Password=cer_2011!;Database=consulta_produtos;Pooling=true;Maximum Pool Size=100" />
  </connectionStrings>

  <appSettings>
    <!-- Diretório das imagens -->
    <add key="Imagens_Diretorio" value="C:\Users\Robson\Desktop\AtualizarCadastroAutomático\BancoDeDadosSupermercado\Imagens\all_imagens" />
    <!-- Extensões aceitas -->
    <add key="Imagens_Extensoes" value=".jpg,.jpeg,.png,.bmp,.gif" />
    <!-- Tamanho do lote para COPY (número de imagens por importação) -->
    <add key="Tamanho_Lote" value="5000" />
    <!-- Capacidade do buffer (quantas fotos podem estar na fila simultaneamente) -->
    <add key="Fila_Capacidade" value="15000" />
    <!-- Grau de paralelismo na leitura (threads) -->
    <add key="Grau_Paralelismo_Leitura" value="8" />
    <!-- Arquivo de log -->
    <add key="Log_File" value="log_migracao.txt" />
    <!-- Diretório onde salvar lotes com erro para reprocessamento -->
    <add key="Erro_Lotes_Dir" value="ErrorBatches" />
  </appSettings>
</configuration>